{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<p>KITS Consulting is an Offshore Limited Liability Company based in Sfax - Tunisia and offering a wide range of IT services (Business IT Support, IT Advisory Services, Custom Web & Software Applications Development, Maintaining IT applications, Technical training sessions, ...).</p>
<p>KITS Consulting sells no third-party packaged software or hardware. We have no financial arrangements with any hardware manufacturer or software publisher. Therefore, our only priority is delivering cost effective solutions to our clients. The development of recommendations on information technology alternatives is done without bias or financial entanglements.</p>      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}