<div class="container-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <p style="font-family: 'Montserrat-Black, sans-serif'; font-size: 1.5rem">
        Kits
      </p>
    </div>
    <div class="footer-text">
      <p>&copy; 2023 G. All Rights Reserved.</p>
      <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="https://www.facebook.com/kitsconsultingcom"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/kits_consulting"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/kits-consulting"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
