<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Kits</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-ZzB1eQ94t4g4HYC//jrSRFzRKRP7oPwW92uV7QzEiKuLP7X9IQmNWdwY7LIdPpZuRMf0/zklW8OaOJpqzNVhGg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      integrity="sha512-lq3q87g1xQ/Ub6r/tUHc5U6yNv9XnJS6N/JPnZ3qJh7vLxW1D8BshGJpKL6rxBv9/xlA6jY1ZdYLLZm7JxxyeQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename='css/clean-blog.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="static/img/favico.ico"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/07c1ae9ea2.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}">Kits</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_all_posts') }}">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn red-button">
                <a href="{{url_for('contact')}}">Let's Talk </a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
